Web tech(100_)/5. Hands-on/Generate XSD 5/mobile.xsd

<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema">
<xs:element name = "mobilestore">
<xs:complexType>
<xs:sequence>
<xs:element name = "mobile" maxOccurs="unbounded" minOccurs="0">
<xs:complexType>
<xs:sequence>
<xs:element name = "brand" type="xs:string"/>
<xs:element name = "os" type="xs:string"/>
<xs:element name = "model" type="xs:string"/>
<xs:element name = "ram" type="xs:string"/>
<xs:element name = "internal" type="xs:string"/>
</xs:sequence>
</xs:complexType>
</xs:element>
</xs:sequence>
</xs:complexType>
</xs:element>
</xs:schema>